pkgbase = sensitive-file-guard-git
	pkgdesc = Pre-open local access firewall for browser authentication data and SSH private keys
	pkgver = 0.1.0.r5.g1f64316
	pkgrel = 1
	url = https://github.com/PLFJY/sensitive-file-guard
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	makedepends = git
	makedepends = rust
	depends = glibc
	depends = polkit
	depends = systemd
	optdepends = libnotify: desktop notifications via notify-send
	optdepends = openssh: ssh-agent and ssh-add functionality
	provides = sensitive-file-guard
	conflicts = sensitive-file-guard
	source = git+https://github.com/PLFJY/sensitive-file-guard.git
	sha256sums = SKIP

pkgname = sensitive-file-guard-git
